@font-face {
    font-family: 'Cloud_Soft Light';
    src: url('../fonts/Cloud_Soft-Light.otf')
}

body {
    margin: 0;
}

/*NAVBAR*/
.navbar {
    height: 88px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.adress {
    height: 22px;
    padding-left: 100px; 
    padding-right: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.adress_colored {
    background-color: #008B8B;
}

.adress__text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: white;
}

.navbar-menu {
    height: 66px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-logo {
    width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 60px; 
}

.navbar-logo__image {
    height: 45px;
}

.navbar-collapse {
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-buttons {
    list-style-type: none;
    width: 380px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-buttons__link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #004b4e;
    text-decoration: none;
}

.navbar-hamburger {
    display: none;
}

.navbar-responsive-a {
    display: none;
}

/*CARROSSEL*/


/*INSTITUCIONAL*/
.institucional {
    background-color: #f1f1f1;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    padding-top: 40px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    padding-top: 50px;
    padding-bottom: 80px;
}

.title__text {
    color: #5f5f5f;
    font-size: 36px;
    font-weight: 400;
    margin: 0;
}

.quem-somos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.quem-somos-box {
    width: 45%;
    margin: 0;
}

.quem-somos__image {
    height: 320px;
    width: auto;
    padding-left: 50px;
}

.box__title {
    font-size: 24px;
    color: #008B8B;
    font-weight: 400;
    margin: 0;
    padding-bottom: 3px;
 }

.box__text {
    font-family: 'Cloud_Soft Light', Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
    padding-top: 20px;
}

.mvv {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 80px;
}

.mvv-box { 
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 28%;
}

.line {
    background-color: #008B8B;
    width: 28px;
    height: 3px;
}

.line-long {
    width: 48px;
}

/*SERVIÇOS*/


/*CONTATOS*/

/*MOBILE*/
@media (max-width: 1024px) {
  
    /*NAVBAR RESPONSIVA*/
    .navbar {
        height: 82px;
    }

    .adress {
        height: 16px;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }

    .adress__text {
        font-size: 9px;
    }

    .navbar-logo {
        padding-left: 20px;
    }
    
    .navbar-collapse {
        display: none;
    }

    .navbar.responsive .navbar-menu {
        background-color: white;
    }

    .navbar.responsive .navbar-collapse {
        display: flex;
    }

    .navbar.responsive .navbar-buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        background-color: white;
        width: 100%;
        height: 140px;
        position: absolute;
        left: 0;
        top: 100%;
        margin-top: 0;
        padding-top:s 10px;
        padding-left: 40px;
        padding-bottom: 10px;
        border-top: 1px solid #c1c1c1;
        color: #004b4e;
    }

    .navbar-buttons__link {
        font-size: 20px;
        /*border-bottom: 2px solid #004b4e;*/
    }

    .navbar-buttons__link:hover {
        border-bottom: 1px solid #004b4e;
    }

    .navbar-hamburger {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        padding-right: 20px;
    }

    .navbar-hamburger-box {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        height: 28px;
        width: 28px;
        border: 2px solid #9f9f9f;
    }

    .navbar-hamburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #008B8B;
        height: 70%;
        text-decoration: none;
        position: relative;
    }

    .navbar-hamburger-icon:hover {
        font-weight: bold;
    }

    .navbar-hamburger__bar {
        background-color: #008B8B;
        height: 2px;
        width: 16px;
    }


    /*Fazer o "X" quando abre o menu hamburguer*/
    .change .bar1 {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        position: absolute;
        top: 10px;
    }
    
    .change .bar2 {
        opacity: 0;
    }
    
    .change .bar3 {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
    }        
    
    /*CARROSSEL RESPONSIVO*/


    /*INSTITUCIONAL RESPONSIVO*/
    .institucional {
        padding-left: 40px;
        padding-right: 40px;
    }

    .title {
        padding-bottom: 26px;
        padding-top: 30px;
    }

    .title__text {
        font-size: 28px;
    }

    .quem-somos {
        flex-direction: column;
        align-items: flex-start;
    }

    .quem-somos-box {
        width: 100%;
    }

    .quem-somos__image {
        padding-top: 30px;
        padding-left: 0;
        max-width: 100%;
        height: auto;
    }

    .mvv {
        flex-direction: column;
        align-items: center;
    }

    .mvv-box {
        padding-top: 40px;
        width: 100%;
    }

    .box__title {
        font-size: 20px;
    }

    .box__text {
        padding-top: 20px;
        font-size: 16px;
    }

    /*SERVIÇOS RESPONSIVO*/


    /*CONTATOS RESPONSIVO*/

    
}
