{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css\style.css" %}">
</head>
<body>
    <nav id="navbar"></nav>
    <div class="carrossel"></div>
    <div class="MVV"></div>
    <div class="Serviços"></div>
    <div class="Contato">
        <h4>CONTATO</h4>
        <form action="" method = "POST">
                {{ form }}
                <button class="campo" id="button" type="submit" style="margin-top:5px ;">Enviar</button>
           
        </form>
    </div>
    <footer class="footer">
        <span class="footer-flex">
            <div class="footer-son" id="footer-logo">
                <img src={% static "\images\logo_2.png" %} width="100px" height="100px"></img>
            </div>
            <div class="footer-son" id="footer-dados">
                <h5>INFORMAÇÕES</h5>
                <p>consultoria.integrarjr@gmail.com</p>
                <p>(81) 99231-8901</p>
            </div>
            <addres class="footer-son" id="footer-endereço">
                <h5>ENDEREÇO</h5>
                <p>Rua Dom Manoel de Medeiros, s/n, Dois Irmãos</p>
                <p>Seg - Sex 08:00 às 18:00</p>
            </addres>
            <div class="footer-son" id="footer-redes-sociais">
                <img src={% static "icons\twitter.png" %}></img>
                <img src={% static "icons\facebook.png" %}></img>
                <img src={% static "icons\instagram.png" %}></img>            
            </div>
            <div id="vazia"></div>
            <div id="footer-media">
                <div id="footer-logo-media">
                <img src={% static "\images\logo_2.png" %} width="100px" height="100px"></img>
                </div>
                <div class="footer-son" id="footer-redes-sociais-media">
                    <img src={% static "icons\twitter.png" %}></img>
                    <img src={% static "icons\facebook.png" %}></img>
                    <img src={% static "icons\instagram.png" %}></img>    
                    <h6>Made with<strong></></strong></strong> and ♥</h6>    
                </div>
            </div>
        </span>
        <div id="made">
            <h6>Made with<img src={% static "icons\code.png" %}></img> and 
            <img src={% static "icons\valentines-heart.png" %}></img></h6>
        </div>
    </footer>
</body> 
</html>