<!DOCTYPE html>
<html lang="pt-br">

<head></head>
<body>
    <nav id="navbar"></nav>
    <div class="carrossel"></div>
    <div class="MVV"></div>
    <div class="Serviços"></div>
    <div class="Contato"></div>
    <footer class="footer">
        <div class="logo">
            <i></i>
        </div>
        <div class="dados">
            <p>consultoria.integrarjr@gmail.com</p>
            <p>(81) 99231-8901</p>
        </div>
        <div class="endereço">
            <p>Rua Dom Manoel de Medeiros, s/n, Dois Irmãos</p>
            <p>Seg - Sex 08:00 às 18:00</p>
        </div>
        <div class="sociais">
            <i></i>
            <i></i>
            <i></i>            
        </div>
    </footer>
</body> 
</html>