{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css\style.css" %}>
    <title>Integrar Jr</title>

    <!--import das fontes-->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">

    <!--import dos icones-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar_colored" id="idNavbar"></nav>
    <div class="carrossel" id="idCarrossel"></div>
    <div class="institucional" id="idInstitucional"></div>
    <div class="Serviços" id="idServicos"></div>
    <div class="Contato" id="idContato"></div>
    <footer class="footer"></footer>

	<!--Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src={% static "js\scroll-navigation.js" %}></script>
	<script src={% static "js\main.js" %}></script>
</body> 
</html>